{% extends 'base.html' %} {% block content %} <br /><br /><br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order Summary</div>
        {% for product in cart_products %}
        <div class="card-body">
          {{ product.name }}
          <br />
          Price: Ksh {{ product.price }} {% endfor %}
          <br />
          Quantity: {% for key, value in quantities.items %} {{ value }}
          {%endfor %}
          <br /><br />
          <strong>Total: Ksh {{ totals }}</strong>
          <br /><br />
          <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-secondary"
            >Update Items</a
          >
        </div>
      </div>
      <div class="card">
        <div class="card-header">Shipping Info</div>
        <div class="card-body">
          Name: {{ shipping_info.shipping_full_name }}<br />
          Email: {{ shipping_info.shipping_email }}<br />
          Address 1: {{ shipping_info.shipping_address1 }}<br />
          Address 2: {{ shipping_info.shipping_address2 }}<br />
          City: {{ shipping_info.shipping_city }}<br />
          State: {{ shipping_info.shipping_state }}<br />
          Zipcode: {{ shipping_info.shipping_zipcode }}<br />
          Country: {{ shipping_info.shipping_country }}<br />

          <a href="{% url 'checkout' %}" class="btn btn-outline-primary"
            >Update Shipping</a
          >
        </div>
      </div>
      <br />

      <div class="card">
        <div class="card-header">Billing Info</div>
        <div class="card-body">
            <form method="POST" action="{% url 'process_order' %}">
            {% csrf_token %}
            {{ billing_form.as_p }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Pay Now</button>
    </form>
    </div>
  </div>
</div>
<br /><br /><br />
{% endblock %}
