{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br /><br />
      <form method="POST" action="{% url 'update_info' %}">
        {% csrf_token %} {{ form.as_p }}
        <br /><br />
        <strong>Shipping Information</strong>
        <br /><br />

        {{ shipping_form.as_p }}

        <br /><br />
        <button type="submit" class="btn btn-secondary">Update Profile</button>
      </form>

      <br /><br />
    </div>
  </div>
</div>
<br /><br /><br />
{% endblock %}
