{% extends 'base.html' %} {% block content %}
<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 mb-5">
      {% if cart_products %} {% for product in cart_products %}
      <div class="d-flex align-items-center mb-4">
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          style="width: 100px"
          class="mr-3"
        />
        <div class="flex-grow-1">
          <h5 class="mb-1">{{ product.name }}</h5>
          <div>Ksh{{ product.price }}</div>
          <!-- Quantity -->
          <div>
            <div class="col-md-2">Quantity:</div>
            <div class="col-md-2">
              <select
                class="form-select form-select-sm"
                id="select{{product.id}}"
              >
                {% for key, value in quantities.items %} {% if key ==
                product.id|slugify %}
                <option selected>{{ value }}</option>
                {% endfor %}

                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="1">5</option>
              </select>
            </div>
          </div>
          <!-- Quantity -->
        </div>
        <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
        <button
          type="button"
          data-index="{{product.id}}"
          class="btn btn-secondary update-cart"
        >
          Update
        </button>
      </div>
      {% endfor %}
      <div align="right">
        <h3>Total: Ksh {{ totals }}</h3>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
      </div>
      {% else %}
      <p>There is nothing in your cart...</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- Cart End -->

<script>
  // Update Cart
  $(document).on("click", ".update-cart", function (e) {
    e.preventDefault();
    // grab the product id
    var productid = $(this).data("index");

    $.ajax({
      type: "POST",
      url: "{% url 'cart_update' %}",
      data: {
        product_id: $(this).data("index"),
        product_qty: $("#select" + productid + " option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
      },

      error: function (xhr, errmsg, err) {},
    });
  });
</script>

{% endblock %}
